@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

html body {
  font-size: 18px;
  line-height: 1.5;

  /* :not(.hero *) {
    --sl-content-width: 50rem;
  } */

  .content-panel {
    padding-bottom: 1rem;
  }
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-color-accent: #128181;
  --sl-color-text-accent: #128181;

  .header {
    background-color: var(--sl-color-accent);
    color: white;

    .site-title,
    .right-group a,
    label {
      color: white;
    }
  }
}

:root[data-theme="dark"],
[data-theme="dark"] ::backdrop {
  /* --sl-color-accent: #179898; */
  --sl-color-accent: #38cdcf;
  --sl-color-text-accent: #38cdcf;
  --sl-color-bg-sidebar: #23292f;
  --sl-color-bg: #1c2126;

  .header {
    background-color: var(--sl-color-accent);
    color: black;

    .site-title,
    .right-group a,
    label {
      color: black;
    }
  }
}

.header {
  .title-wrapper {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-optical-sizing: auto;
  }

  .site-title {
    gap: 0.75rem;
  }
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-block: 3rem 1rem;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }

  img {
    max-height: 15rem;
  }

  h1 {
    line-height: 1;
  }

  .intro {
    font-size: 3rem;
    font-weight: bold;
  }

  .tagline {
    font-size: 1.5rem;
  }

  .copy,
  .tagline,
  .actions {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

html body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-optical-sizing: auto;
}

.sidebar-content {
  sl-sidebar-state-persist {
    ul {
      li {
        summary {
          span {
            font-size: 18px;
            font-weight: bold;
          }
        }
        a {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.right-sidebar-panel {
  starlight-toc {
    h2 {
      font-size: 24px;
    }
    ul {
      li {
        a {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.card {
  border-radius: 4px;
}

.sl-link-button {
  font-size: 16px;
  font-weight: bold;
}

.sl-markdown-content
  :not(h1, h2, h3, h4, h5, h6)
  + :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  margin-top: 1.5rem;
}

.starlight-aside.starlight-aside--note {
  --sl-color-asides-border: var(--sl-color-accent);
  background-color: var(--sl-color-bg-sidebar);

  .starlight-aside__title,
  & svg,
  & a {
    fill: var(--sl-color-accent);
    color: var(--sl-color-accent);
  }

  :root[data-theme="light"] & {
    background-color: #f0f6f6;
  }
}
